:root {
    --color-main: #42838a;
    --color-secondary: #91d0c3;
    --color-back: #202022;
    --color-gray: rgb(102, 102, 102);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    outline: none;
}

button {
    cursor: pointer;
}
